@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.post-body {
  font-size: 1.125rem;
}

.post-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.post-body a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.post-body a:active,
.post-body a:hover {
  outline-width: 0;
}

.post-body strong {
  font-weight: inherit;
}

.post-body strong {
  font-weight: bolder;
}

.post-body h1 {
  margin: 0.67em 0;
}

.post-body img {
  border-style: none;
}

.post-body svg:not(:root) {
  overflow: hidden;
}

.post-body code,
.post-body kbd,
.post-body pre {
  font-size: 11px;
}

.post-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.post-body input {
  font: inherit;
  margin: 0;
}

.post-body input {
  overflow: visible;
}

.post-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.post-body * {
  box-sizing: border-box;
}

.post-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.post-body a {
  color: #4078c0;
  text-decoration: none;
}

.post-body a:hover,
.post-body a:active {
  text-decoration: underline;
}

.post-body strong {
  font-weight: 600;
}

.post-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.post-body hr::before {
  display: table;
  content: "";
}

.post-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.post-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.post-body td,
.post-body th {
  padding: 0;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.post-body p {
  margin-top: 1.8125rem;
}

.post-body img ~ p {
  margin-top: 2.375rem;
}

.post-body blockquote {
  margin: 0;
}

.post-body ul,
.post-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post-body ol ol,
.post-body ul ol {
  list-style-type: lower-roman;
}

.post-body ul ul ol,
.post-body ul ol ol,
.post-body ol ul ol,
.post-body ol ol ol {
  list-style-type: lower-alpha;
}

.post-body dd {
  margin-left: 0;
}

.post-body code {
  font-size: 12px;
}

.post-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 11px "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace;
}

.post-body .octicon {
  vertical-align: text-bottom;
}

.post-body input {
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

.post-body::before {
  display: table;
  content: "";
}

.post-body::after {
  display: table;
  clear: both;
  content: "";
}

.post-body>*:first-child {
  margin-top: 0 !important;
}

.post-body>*:last-child {
  margin-bottom: 0 !important;
}

.post-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.post-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.post-body .anchor:focus {
  outline: none;
}

.post-body p,
.post-body blockquote,
.post-body ul,
.post-body ol,
.post-body dl,
.post-body table,
.post-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.post-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}

.post-body blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.post-body blockquote>:first-child {
  margin-top: 0;
}

.post-body blockquote>:last-child {
  margin-bottom: 0;
}

.post-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

.post-body h1 .octicon-link,
.post-body h2 .octicon-link,
.post-body h3 .octicon-link,
.post-body h4 .octicon-link,
.post-body h5 .octicon-link,
.post-body h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.post-body h1:hover .anchor,
.post-body h2:hover .anchor,
.post-body h3:hover .anchor,
.post-body h4:hover .anchor,
.post-body h5:hover .anchor,
.post-body h6:hover .anchor {
  text-decoration: none;
}

.post-body h1:hover .anchor .octicon-link,
.post-body h2:hover .anchor .octicon-link,
.post-body h3:hover .anchor .octicon-link,
.post-body h4:hover .anchor .octicon-link,
.post-body h5:hover .anchor .octicon-link,
.post-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.post-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.post-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.post-body h3 {
  font-size: 1.25em;
}

.post-body h4 {
  font-size: 1em;
}

.post-body h5 {
  font-size: 0.875em;
}

.post-body h6 {
  font-size: 0.85em;
  color: #777;
}

.post-body ul,
.post-body ol {
  padding-left: 2em;
}

.post-body ul ul,
.post-body ul ol,
.post-body ol ol,
.post-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post-body li>p {
  margin-top: 16px;
}

.post-body li+li {
  margin-top: 0.25em;
}

.post-body dl {
  padding: 0;
}

.post-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.post-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.post-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.post-body table th {
  font-weight: bold;
}

.post-body table th,
.post-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.post-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.post-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.post-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.post-body code::before,
.post-body code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.post-body .highlight {
  margin-bottom: 16px;
}

.post-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.post-body .highlight pre,
.post-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.post-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.post-body pre code::before,
.post-body pre code::after {
  content: normal;
}

.post-body .full-commit .btn-outline:not(:disabled):hover {
  color: #4078c0;
  border: 1px solid #4078c0;
}

.post-body kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.post-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}

.post-body .task-list-item {
  list-style-type: none;
}

.post-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.post-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.post-body hr {
  border-bottom-color: #eee;
}
