html, body, .page-root {
  position: relative;
  height: 100%;
  min-height: 100%;
}

body, body * {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

button, input, optgroup, select, textarea {
  font-family: $font-family-base;
}

pre,code {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: "Operator Mono","Fira Code",Consolas,Monaco,"Andale Mono",monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  font-size: 11px;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: rgba(238,238,238,.35);
}

a {
    outline: none;
}
a:hover,a:focus,a:visited {
    text-decoration: none !important;
}

h1, h2, h3 {
  font-weight: normal;
}

.modal-content {
    box-shadow: $modal-content-xs-box-shadow;
}

.dropdown-menu {
  min-width: auto;
  padding: 15px;

  .dropdown-item {
    &:hover, &.active {
      background: transparent;
      color: $brand-primary;
    }
  }
}

// Prisim
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: transparent !important;
}

// Code mirror
.CodeMirror-wrap pre {
  box-shadow:none;
}

// Element-UI
// Element Message
.el-message {
  display: flex;

  img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    vertical-align: middle;
    display: flex;
    position: relative;
  }
  .el-message__group {
    margin-left: 15px;
    display: flex;
  }
}

// Element Carousel
button.el-carousel__arrow {
  font-size: 20px;
}

// Material icons
.material-icons {
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}

// Bootstrap Card
.card-block {
  padding: 1rem;
}
.card {
  margin-top: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .card-img-top {
    height: 110px;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    img {
      width: 100%;
    }
  }
  .card-title {
    font-size: 16px;
    font-weight: 400;
  }
}
.card .extras{
  margin-top: 15px;
  position: relative;

  .avatar {
    width: 39px;
    float: left;
  }
  .user-info {
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;

    span {
      display: block;
      padding: 0;
    }
    .times {
      font-size: 11px;
      color: rgba(0,0,0,.4);
    }
  }
  .actions {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;

    .favour, .collect{
      display: inline-block;
      position: relative;
      padding: 0 5px;
      cursor: pointer;
      opacity: .6;

      span {
        font-size: 14px;
        font-weight: 200;
      }
    }
    .favour i {
      color: #7ED321;
    }
    .favour:not(:last-child):after {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      width: 1px;
      height: 1em;
      background-color: #2b445d;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: .1;
    }
  }
}
