// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               16 !default;
$grid-gutter-width-base:     20px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #565a5c !default;
$gray-light:                #737c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Body
$body-bg: #FAFAFA;
$body-color: #464a4c;

// Borders
$laravel-border-color: darken($body-bg, 20%);
$list-group-border: $laravel-border-color;

// Modal
$modal-content-bg:               $white !default;
$modal-content-border-color:     transparent !default;
$modal-content-border-width:     0 !default;
$modal-content-xs-box-shadow:    0 5px 10px rgba($black,.12) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black,.12) !default;

$modal-backdrop-bg:           $body-bg !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   $gray-lighter !default;
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-header-border-width:   $modal-content-border-width !default;
$modal-footer-border-width:   $modal-header-border-width !default;
$modal-header-padding:        15px !default;

// Brands
$brand-primary: #00ab6b;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Helvetica Neue", Helvetica, -apple-system, system-ui, Arial, "PingFang SC", "Hiragino Sans GB","Microsoft YaHei",
"WenQuanYi Micro Hei", sans-serif !default;
$font-family-serif:      Segoe UI, Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Operator mono light, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$line-height-base: 1.6;
$text-color: #4A4A4A;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.1rem !default;
$font-size-h6: 1rem !default;

// Buttons
$btn-default-color: $text-color;
$btn-secondary-border: lighten($text-color, 30%);

$btn-border-radius:      1000em;
$btn-border-radius-lg:      1000em;
$btn-border-radius-sm:      1000em;

$btn-padding-x: 1em;
$btn-padding-x-lg: 1.5em;
$btn-padding-x-sm: 1em;
$btn-padding-y-xs: 0.1em;
$btn-padding-x-xs: 0.7em;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Border radius

$border-radius:          .15rem !default;
$border-radius-lg:       .2rem !default;
$border-radius-sm:       .1rem !default;
